openapi: 3.0.2
info:
  version: 1.0.0
  title: PostByte API Docs
  contact:
    email: hello@gigabyte.software
    url: 'http://postbyte.co.uk/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description: >
    # Introduction

    This is the documentation PostByte API documentation for integration to allow mailings of letters to be added to
    PostByte for a user to then login to PostByte to review the letters that will be sent and trigger the mailing to
    sent via post.

    The API has been designed to make it easy to integrate with a system that is using asynchronous processing to
    add the letters. For example the [/mailings/{mailing_id}/letters](/#operation/addLetter) resource is idempotent,
    so re-tries are safe and it's impossible for duplicate letters to be sent.


    There are two main resources:

      | Resource | Description                                                                         |
      | -------- | ----------------------------------------------------------------------------------- |
      | Mailing  | the mailing resource allows you to track the status of a group of letters           |
      | Letters  | these are the actual letters and addresses information for each letter in a mailing |

    **To Send a Mailing**

    1. First you must create a mailing record by performing a POST request to [/mailings](/#operation/createMailing).
    You will specify in this request the number of letters that are to be sent in this mailing. This will return
    JSON containing a `mailing_id`.

    2. Now you must add letters to the mailing. You do this by performing multiple POST requests
    to [/mailings/{mailing_id}/letters](/#operation/addLetter). Both the PDF file (base64 encoded) and the recipient
    information is supplied in these requests.

    3. Once the correct number of letters have been added to the mailing the status of the mailing will change from
    `Awaiting Letters` to `Awaiting Confirmation`.

    4. You must now submit a request to [/mailings/{mailing_id}/confirm](/#operation/confirmMailing) and if you have
    added the number of mailings that you specified when you created the initial mailing record then the status will
    change from `Awaiting Confirmation` to `Ready to Send`. The mailing will then be visible in the user's PostByte
    portal and they will receive an email notification telling them they have a mailing ready for review and sending.

    4. Once the user has reviewed the mailing and confirmed that they want to send it, then the mailing will go into a
    status of 'Pending Printing' for 3 hours. While in this state the mailing can still be cancelled, either through
    the users portal, or by performing a post request to [/mailings/{mailing_id}/cancel](/#operation/cancelMailing).

externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: Mailing
    description: Mailing is a collection of letters to be sent. The Mailing resource is used to track the sending of a mailing
  - name: Letter
    description: Letters are individually added to a Mailing.
servers:
  - url: 'http://api.postbyte.co.uk/v1'
paths:
  /mailings:
    $ref: 'paths/mailings.yaml'
  /mailings/{mailing_id}:
    $ref: 'paths/mailings--get.yaml'
  /mailings/{mailing_id}/confirm:
    $ref: 'paths/mailings--confirm.yaml'
  /mailings/{mailing_id}/cancel:
    $ref: 'paths/mailings--cancel.yaml'
  '/mailings/{mailing_id}/letters':
    $ref: 'paths/letters.yaml'
components:
  securitySchemes:
    simple_token_auth:
      type: apiKey
      in: header
      name: "X-AUTH-TOKEN"
      description: |
        Authentication is done via simple token based authentication. When making requested to the API include your
        supplied API authentication token in a header named `X-AUTH-TOKEN`.
